<!DOCTYPE html>
<!-- imbus - Simple HTML Template v1.0 -->

<!--[if lt IE 7]>	<html dir="ltr" lang="en-US" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>		<html dir="ltr" lang="en-US" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>		<html dir="ltr" lang="en-US" class="lt-ie9"><![endif]-->
<!--[if IE 9]>		<html dir="ltr" lang="en-US"  class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]>	<!--><html dir="ltr" lang="en-US" class="gt-ie9 non-ie"> <!--<![endif]-->
<head>

<!-- meta tags -->
<meta charset="UTF-8">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<meta name="author" content="Granthweb">
<meta name="description" content="imbus - Simple HTML Template">
<meta name="keywords" content="">
<meta name="robots" content="index, follow">

<!-- mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- favicon -->
<link rel="icon" href="assets_bym/images/icons/favicon.ico" type="image/png">

<!-- page title -->
<title>imbus - Simple HTML Template</title>

<!-- css stylesheets -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" rel="stylesheet" type="text/css">
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="assets/css/style.css" rel="stylesheet" type="text/css">
<link href="assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
<link href="assets/plugins/rs-plugin/css/settings.css" rel="stylesheet">
<link href="assets/css/skin_green.css" rel="stylesheet" type="text/css">

<!-- js head -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/plugins/jquery-1.8.1.min.js"><\/script>')</script>
<script type="text/javascript" src="assets/js/scripts.js"></script>
<script type="text/javascript" src="assets/plugins/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
</head>

<!-- body -->
<body id="top" class="stickymenu stickyfooter">

	<!-- #wrapper -->
	<div id="wrapper"> 
		
		<!-- #header-info -->
		<div id="header-info" class="wrapper">
			<div class="container fullwidth">
				<ul>
					<li><span class="header-icon-pin"></span>1419 Westwood Blvd, Los Angeles</li>
					<li><span class="header-icon-mail"></span><a href="#" class="link-style2">office@imbus.com</a></li>
					<li><span class="header-icon-phone"></span>(811) 108-4000</li>
				</ul>
			</div>
		</div>
		<!-- /#header-info --> 
		
		<!-- #header -->
		<div id="header" class="wrapper"> 
			
			<!-- #logo -->
			<div id="logo" class="container fullwidth"><a href="http://templates.granthweb.com/imbus"><img src="assets/images/logo_anim_4.gif" alt="imbus"></a></div>
			<!-- /#logo --> 
			
			<!-- #primary-navigation -->
			<div id="primary-navigation" class="container fullwidth"> 
				
				<!-- .menu-responsive --> 
				<a class="menu-responsive"><span class="menu-icon-nav"></span><span class="menu-title">Navigation</span></a> 
				<!-- /.menu-responsive --> 
				
				<!-- .menu -->
				<ul class="menu clearfix">
					<li class="current"><a href="#"><span class="menu-icon-home"></span>Home</a>
						<ul>
							<li><a href="home.html">Home - Original</a></li>
							<li><a href="home_no_slider.html">Home - No Slider</a></li>
							<li class="current"><a href="#">Home - More Colors</a>
								<ul>
									<li><a href="home_red.html">Red Style</a></li>
									<li class="current"><a href="home_green.html">Green Style</a></li>
									<li><a href="home_orange.html">Orange Style</a></li>
									<li><a href="home_blue.html">Blue Style</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#"><span class="menu-icon-about"></span>About</a>
						<ul>
							<li><a href="about.html">About Team</a></li>
							<li><a href="about_personal.html">About Personal</a></li>
						</ul>
					</li>
					<li><a href="#"><span class="menu-icon-features"></span>Features</a>
						<ul>
							<li><a href="typography.html">Typography</a></li>
							<li><a href="shortcodes.html">Shortcodes</a></li>
							<li><a href="#">Pricing Tables</a>
								<ul>
									<li><a href="pricing_1.html">Style 1</a></li>
									<li><a href="pricing_2.html">Style 2</a></li>
								</ul>
							</li>
							<li><a href="404.html">404 page</a></li>
						</ul>
					</li>
					<li><a href="#"><span class="menu-icon-portfolio"></span>Portfolio</a>
						<ul>
							<li><a href="portfolio-2cols.html">Portfolio 2 Columns</a></li>
							<li><a href="portfolio-3cols.html">Portfolio 3 Columns</a></li>
							<li><a href="portfolio-4cols.html">Portfolio 4 Columns</a></li>
							<li><a href="portfolio-single-half.html">Portfolio single half</a></li>
							<li><a href="portfolio-single-wide.html">Portfolio single wide</a></li>
						</ul>
					</li>
					<li><a href="#"><span class="menu-icon-blog"></span>Blog</a>
						<ul>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="blog-single.html">Blog single</a></li>
						</ul>
					</li>
					<li><a href="contact.html"><span class="menu-icon-contact"></span>Contact</a></li>
				</ul>
				<!-- /.menu --> 
				
			</div>
			<!-- /#primary-navigation --> 
			
		</div>
		<!-- #/header --> 
		
		<!-- #header panel -->
		<div id="header-panel" class="wrapper">
			<div class="header-overlay"></div>
			<div class="rev-slider slider container fullwidth">
				<div class="fullwidthbanner-container">
					<div class="fullwidthabnner">
	                    <ul>
                        	<li data-transition="3dcurtain-horizontal" data-slotamount="1">
                                <img src="content/slides/slider_1_green.jpg" alt="">
                                
                             	<div class="caption sfb fadeout slider-title-large"
                                data-x="151"
                                data-y="246"
                                data-speed="600" data-start="1200" data-easing="easeOutBack">
                                    THERE WILL ALWAYS BE CHALLENGES OBSTACLES
                                </div>
                                
                                <div class="caption sfb fadeout slider-title" 
                                data-x="151"
                                data-y="297" 
                                data-speed="600" data-start="1600" data-easing="easeOutBack">
                                    And less than perfect conditions
                                </div>
                                
                                <div class="caption sfb tp-caption start" 
                                data-speed="600" data-start="2200" data-easing="easeOutBack" 
                                data-x="151" 
                                data-y="393" 
                                style="top: 0px">
                                	<button type="button" class="btn-large btn-style1">Get started now</button>
                                </div>   
                        	</li> 

                        	<li data-transition="fade" data-slotamount="1">
                                <img src="content/slides/slider_2_green.jpg" alt="">
                                
                                <div class="caption sfb fadeout slider-title-large"
                                data-x="615"
                                data-y="291"
                                data-speed="600" data-start="1200" data-easing="easeOutBack">
                                    WITH EACH STEP YOU TAKE,
                                </div>
                                
                                <div class="caption sfb fadeout slider-title"
                                data-x="615"
                                data-y="341"
                                data-speed="600" data-start="1600" data-easing="easeOutBack">
                                    you will grow stronger and stronger
                                </div>
                                
                                <div class="caption sfb tp-caption start" 
                                data-speed="600" data-start="2200" data-easing="easeOutBack" 
                                data-x="615" 
                                data-y="428">
                                	<button type="button" class="btn-large btn-style1">Find out more</button>
                                </div>
                        	</li>                       
	                    </ul>
			        </div>
			    </div>
				<a href="#" class="slider-control-prev"></a>	
				<a href="#" class="slider-control-next"></a>
			</div>
		</div>
		<!-- /#header panel -->
	
		<!-- #main -->
		<div id="main" class="wrapper">
			<div class="main-content container">

				<!-- #hide-info-container -->
				<div id="hide-info-container" class="row">
					
					<!-- hide info box -->
					<div class="hide-info-box-style1 span4">
						<div class="hide-info-box-content">
							<div class="hide-info-box-header"><img src="content/hide_container/a_thumb.jpg" alt=""></div>
							<p class="tcenter">Mea consul iuvaret uterat oratio quaeque iudico vocent quaeren duane atenti.</p>
							<p><a href="#" class="btn-large btn-style1 hide-info-btn">Launch it</a></p>
							<div class="clearfix"></div>
						</div>
						<div class="circle-box">
							<h4>
								<span class="circle">
									<span class="circle-border"></span>
									<span class="circle-inner">O</span>
								</span>
								One<small>Te eum soleat</small>
							</h4>
						</div>
					</div>
					<!-- /hide info box -->

					<!-- hide info box -->
					<div class="hide-info-box-style2 span4">
						<div class="hide-info-box-content">
							<div class="hide-info-box-header"><img src="content/hide_container/b_thumb.jpg" alt=""></div>
							<p class="tcenter">Cum ornatu convenir nec vocib use corpora lucili vanno sterein sale assueve.</p>
							<p><a href="#" class="btn-large btn-style1 hide-info-btn">Launch it</a></p>
							<div class="clearfix"></div>
						</div>						
						<div class="circle-box">
							<h4>
								<span class="circle">
									<span class="circle-border"></span>
									<span class="circle-inner">T</span>
								</span>
								Two<small>Quo et idque</small>
							</h4>
						</div>
					</div>
					<!-- /hide info box -->

					<!-- hide info box -->
					<div class="hide-info-box-style3 span4">
						<div class="hide-info-box-content">
							<div class="hide-info-box-header"><img src="content/hide_container/c_thumb.jpg" alt=""></div>
							<p class="tcenter">Ei eius ullum consulatu, democritum argum entum te ius per into nostrud.</p>
							<p><a href="#" class="btn-large btn-style1 hide-info-btn">Launch it</a></p>
							<div class="clearfix"></div>
						</div>						
						<div class="circle-box">
							<h4>
								<span class="circle">
									<span class="circle-border"></span>
									<span class="circle-inner">T</span>
								</span>
								Three<small>Mei et quot vitato</small>
							</h4>
						</div>
					</div>
					<!-- /hide info box -->

				</div>
				<!-- /#hide-info-container -->

				<h2 class="main-title">Happy Clients</h2>
				<div class="Happy Clients">
					<div class="testimonials slider clearfix">
						<ul class="slides">
							<li class="span12">
								<h3 class="tcenter">“Cu has quis dolore voluptatibus. Duo te utroque expetenda, prima luptat enemel. Antill et ereos aura dicta legimus splendide. An pri mucius eruditi.”</h3>
								<p class="tcenter text-small">John Doe, Hypothalamus Inc.</p>
							</li>
							<li class="span12">
								<h3 class="tcenter">“Id pro altera albucius posidonium. Commune incorrupte vituperatoribus eos eu, melius debitis adipisci ad vis, eum cu audire concludaturque. Nome sonet virtute. Quis vituperatoribus neveme peunir, clita quidam quaerendum ut cum.”</h3>
								<p class="tcenter text-small">Leonard Doe, Cohen Inc.</p>
							</li>	
							<li class="span12">
								<h3 class="tcenter">“Pericula sententiae scribentur te eos, alii graeco equidem mei at. Ei sea discere oportere laboramus, ei eos labore. Quando integre pro ei, eamus quodsi vocibus. Qui diceret maiestatis no, duo ea fugit facilisis nama hata tota liune vita.”</h3>
								<p class="tcenter text-small">Tom Doe, Johnson &amp; Johnson Inc.</p>
							</li>	
							<li class="span12">
								<h3 class="tcenter">“Nec at ipsum convenire. Te natum verterem vel, ius lucilius perpetua ne. Ne qui autem mucius, dictas appareat cica mica veruci intellegam ne ius.”</h3>
								<p class="tcenter text-small">Leo Doe, Lions Inc.</p>
							</li>				
						</ul>
						<ul class="slider-pagination"></ul>
					</div>				
	            </div>
				<h2 class="main-title">Latest stuff from our projects
					<span class="title-meta-text"><a href="#" class="link-style3">Visit the portfolio &raquo;</a></span>
				</h2>
				<p class="sub-title">Nam populo scaevola legendos ea, an nec magna mollis. Volumus temporibus at ius, zril vitae intellie vel. Haruman iriure efficiendi ne quo, et vel reprimique. Id meli labores utroque has nema lessi sea.</p>
				<div class="portfolio">
				
					<!-- .portfolio-posts -->	
					<ul class="portfolio-posts row">
						
						<!-- .post -->					
						<li class="post span4 has-overlay">
							<div class="post-inner">
								<div class="post-header">
									<a href="#"><img src="content/portfolio/thumbnail_1_green.jpg" alt=""></a>
								</div>
								<div class="post-body">
									<h2><a href="portfolio-single-wide.html">Te nam disputationi</a></h2>							
								</div>
								<div class="post-overlay">
									<div class="post-overlay-meta">
										<h2>Te nam disputationi</h2>
										<a href="#">Cover</a>, <a href="#">Journal</a>, <a href="#">Photography</a>
									</div>
									<ul class="post-overlay-icons">
										<li><span></span><a href="#" class="overlay-icon-more"></a></li>
										<li><span></span><a href="portfolio-single-wide.html" class="overlay-icon-link"></a></li>
									</ul>
								</div>												
							</div>
						</li>
						<!-- /.post -->
						
						<!-- .post -->								
						<li class="post span4 has-overlay">
							<div class="post-inner">
								<div class="post-header">
									<a href="#"><img src="content/portfolio/thumbnail_2_green.jpg" alt=""></a>
								</div>
								<div class="post-body">
									<h2><a href="portfolio-single-wide.html">Affer denique cu sit mei</a></h2>							
								</div>
								<div class="post-overlay">
									<div class="post-overlay-meta">
										<h2>Affer denique cu sit mei</h2>
										<a href="#">Nature</a>, <a href="#">Photography</a>
									</div>
									<ul class="post-overlay-icons">
										<li><span></span><a href="#" class="overlay-icon-more"></a></li>
										<li><span></span><a href="portfolio-single-wide.html" class="overlay-icon-link"></a></li>
									</ul>
								</div>												
							</div>
						</li>
						<!-- /.post -->
						
						<!-- .post -->								
						<li class="post span4 has-overlay">
							<div class="post-inner">
								<div class="post-header">
									<a href="#"><img src="content/portfolio/thumbnail_3_green.jpg" alt=""></a>
								</div>
								<div class="post-body">
									<h2><a href="portfolio-single-wide.html">Vix ad idque diceret</a></h2>							
								</div>
								<div class="post-overlay">
									<div class="post-overlay-meta">
										<h2>Vix ad idque diceret</h2>
										<a href="#">Corporate</a>, <a href="#">Journal</a>
									</div>
									<ul class="post-overlay-icons">
										<li><span></span><a href="#" class="overlay-icon-more"></a></li>
										<li><span></span><a href="portfolio-single-wide.html" class="overlay-icon-link"></a></li>
									</ul>
								</div>												
							</div>
						</li>
						<!-- /.post -->
						
						<!-- .post -->								
						<li class="post span4 has-overlay">
							<div class="post-inner">
								<div class="post-header">
									<a href="#"><img src="content/portfolio/thumbnail_4_green.jpg" alt=""></a>
								</div>
								<div class="post-body">
									<h2><a href="portfolio-single-wide.html">Eam porro facilis libevis</a></h2>							
								</div>
								<div class="post-overlay">
									<div class="post-overlay-meta">
										<h2>Eam porro facilis libevis</h2>
										<a href="#">Cover</a>, <a href="#">Magazine</a>, <a href="#">Video</a>
									</div>
									<ul class="post-overlay-icons">
										<li><span></span><a href="http://vimeo.com/31066005" class="overlay-icon-more magnific-popup-html"></a></li>
										<li><span></span><a href="portfolio-single-wide.html" class="overlay-icon-link"></a></li>
									</ul>
								</div>												
							</div>
						</li>
						<!-- /.post -->
						
						<!-- .post -->								
						<li class="post span4 has-overlay">
							<div class="post-inner">
								<div class="post-header">
									<a href="#"><img src="content/portfolio/thumbnail_5_green.jpg" alt=""></a>
								</div>
								<div class="post-body">
									<h2><a href="portfolio-single-wide.html">At menandri quaestio has</a></h2>							
								</div>
								<div class="post-overlay">
									<div class="post-overlay-meta">
										<h2>At menandri quaestio has</h2>
										<a href="#">Corporate</a>, <a href="#">Photography</a>, <a href="#">Web Design</a>
									</div>
									<ul class="post-overlay-icons">
										<li><span></span><a href="portfolio-single-wide.html" class="overlay-icon-link"></a></li>
									</ul>
								</div>												
							</div>
						</li>
						<!-- /.post -->
						
						<!-- .post -->								
						<li class="post span4">
							<div class="post-inner">
								<div class="post-header">
									<div class="post-slider slider clearfix">
										<ul class="slides">
											<li><a href="portfolio-single-wide.html"><img src="content/portfolio/thumbnail_6_green.jpg" alt=""></a></li>
											<li><a href="portfolio-single-wide.html"><img src="content/portfolio/thumbnail_9_green.jpg" alt=""></a></li>
											<li><a href="portfolio-single-wide.html"><img src="content/portfolio/thumbnail_8_green.jpg" alt=""></a></li>
										</ul>
										<a href="#" class="slider-control-prev"></a>	
										<a href="#" class="slider-control-next"></a>	
									</div>									
								</div>
								<div class="post-body">
									<h2><a href="portfolio-single-wide.html">Sit cetero nonus refer</a></h2>							
								</div>												
							</div>
						</li>
						<!-- /.post -->
																										
					</ul>
					<!-- /.portfolio-posts -->
					
				</div>
				<h2 class="main-title">Latest posts
					<span class="title-meta-text"><a href="blog.html" class="link-style3">Visit the blog &raquo;</a></span>
				</h2>
				<p class="sub-title">Hinc disputationi ei nam, mei doctus tamquam suscipit te. Enim mediocritatem vel et, in qui falli minimum. Talente sanctus assentior sed ex. Gubergren euripidis vis, usu noluisse, dicta intellegam peruna sindu.</p>
				<div class="blog">

					<!-- post row -->				
					<ul class="row">

						<!-- .post -->
						<li class="post span6">
							<div class="post-inner">
								<div class="post-header">
									<img src="content/blog/blog_1_green.jpg" alt="">
									<div class="post-overlay">
										<ul class="post-overlay-icons">
											<li><span></span><a href="#" class="overlay-icon-more"></a></li>
											<li><span></span><a href="blog-single.html" class="overlay-icon-link"></a></li>
										</ul>
									</div>
								</div>
								<div class="post-body">
									<h2><a href="blog-single.html">At menandri quaestio has</a></h2>
									<div class="post-date circle">
										<div class="circle-border"></div>
										<div class="circle-inner">22<span>Jan</span></div>
									</div>							
									<div class="post-excerpt"><p>Hinc disputationi ei nam, mei etudoctus tamu suscipit te. Enim mediocritatem vel eine, in qui falli mini. Tale sanctus assentior sed ex.</p></div>
									<ul class="post-meta">
										<li><span>Author: </span><a href="#">John Doe</a></li>
										<li><span>Tags: </span><a href="#">Corporate</a>, <a href="#">Photography</a>, <a href="#">Web Design</a></li>
										<li><span>Comments: </span><a href="#">9</a></li>
									</ul>
								</div>						
							</div>
						</li>
						<!-- /.post -->
						
						<!-- .post -->						
						<li class="post span6">
							<div class="post-inner">
								<div class="post-header">
									<a href="#"><img src="content/blog/blog_3_green.jpg" alt=""></a>
									<div class="post-overlay">
										<ul class="post-overlay-icons">
											<li><span></span><a href="#" class="overlay-icon-more"></a></li>
										</ul>
									</div>
								</div>
								<div class="post-body">
									<h2><a href="blog-single.html">Bonorum docendi probatus</a></h2>
									<div class="post-date circle">
										<div class="circle-border"></div>
										<div class="circle-inner">14<span>Jan</span></div>
									</div>							
									<div class="post-excerpt"><p>Eos ut nemore audiam labitur. Ea bellas singu his, postea viderer facilis tepr. Id vix viris appell, at dolor necessitatibus pro, duo ur in.</p></div>
									<ul class="post-meta">
										<li><span>Author: </span><a href="#">John Doe</a></li>
										<li><span>Tags: </span><a href="#">Corporate</a>, <a href="#">Journal</a></li>
										<li><span>Comments: </span><a href="#">14</a></li>
									</ul>
								</div>						
							</div>
						</li>
						<!-- /.post -->
						
					</ul>
					<!-- /post row -->
				</div>

				<h2 class="main-title">Brands</h2>
				<div class="brands slider carousel clearfix">
	               	<ul class="slides">
	               		<li><a href="#"><img src="content/partners/logo_1.png" alt="" width="225" height="44"></a></li>
	               		<li><a href="#"><img src="content/partners/logo_2.png" alt="" width="225" height="44"></a></li>
	               		<li><a href="#"><img src="content/partners/logo_3.png" alt="" width="225" height="44"></a></li>
	               		<li><a href="#"><img src="content/partners/logo_4.png" alt="" width="225" height="44"></a></li>
	               		<li><a href="#"><img src="content/partners/logo_2.png" alt="" width="225" height="44"></a></li>
	               	</ul>
					<ul class="slider-controls">
						<li><a href="#" class="prev"></a></li>
						<li><a href="#" class="next"></a></li>								
					</ul>				
	            </div>
	            <h2 class="main-title">Why choose imbus</h2>
	            <p class="sub-title">Nam populo scaevola legendos ea, an nec magna mollis. Volumus temporibus at ius, zril vitae intellie vel id. Harum iriure efficiendi ne quo, et vel reprimique. Id melius labores utroque has, tota remenia sea.</p>
				<!-- tab -->
				<div class="tabs-wrapper tabs-centered clearfix">
					<ul class="tabs">
						<li class="current"><a href="#">One</a></li>
						<li><a href="#">Two</a></li>
						<li><a href="#">Three</a></li>
						<li><a href="#">Four</a></li>
					</ul>
				</div>
				<ul class="tabs-content">
					<li class="current">
						<div class="tab-title"><a href="#">One</a></div>
						<div class="tab-content">
							<img src="content/about/about_0_green.jpg" class="alignleft" alt="">
							<h4>At menandri quaestio has</h4>
							<p><span class="dropcap">H</span>uo te eligendi fabellas, exerci noluisse reprimique eam ex. Mel singnat tere consetetur no. Perun ideal mollis vidisse, oratio libris per in, et prin ponderum pri. Sed te meis part cotidieq, exumet fuisset reprehenuit per, sit cu sapientem ullamcorper.</p>
							<p>Eum ex putent suavitate, sea ne commodo appareat efficiantur. Fuisset scribentur vim an, eu est indocum patrioque. Eum ex veritus placerat, at nam vide assum diceret. Hinc disput ationi enam, mei etudoct tamquam suscipit mediocritatem velem eine.</p>
							<p><a href="#" class="link-style3">Read more &raquo;</a></p>
						</div>
					</li>
					<li>
						<div class="tab-title"><a href="#">Two</a></div>
						<div class="tab-content">
							<h4>Oblique maiorum gloriatur his nomet nam</h4>
							<p><span class="dropcap">N</span>amo aliquam voluptaria eos cu, erat altera postea sea et. Vivendo hendrerit reprehendunt cu nam, ne brute timeam theophrastus nam. Eu hinc dolor ridens has, est no sumo inermis sententiae, pro et essent fierent blandit. Pri efficiantur consectetuer an, usu case contentio nesei. Diam saepe veniam his ex, at omnium sed. Dicam essent aliquam ius ad, rebum decore ne eos.</p>
							<p>Cu per legere graece offendit, eu quem alienum dissentias nam, duo in quidam semper. Mea ei explicari scriptorem, id duis mutat ubique eum, prima gubergren cu sea. Inani laudem labores ut nam, eum ut voluptua insolens, pri no sale dignissim. Ne eam ancillae repudiandae, quo cu dictas explicari, qui te wisi cetero. An eos stet atomorum. Quas exerci temporibus no has. </p>
							<p><a href="#" class="link-style3">Read more &raquo;</a></p>
						</div>
					</li>
					<li>
						<div class="tab-title"><a href="#">Three</a></div>
						<div class="tab-content">
							<h4>An est magna zril tritani nec ea summo</h4>
							<ul class="list-arrow3 one-half">
								<li>Lorem ipsum dolor sit amet, ut duo veniam his ex lorem cumie</li>
								<li>Justo aeterno scripserit eos utte, et latine vereton alure ena</li>
								<li>Prodesset ei has audiam et eam, ei visan dam essent aliquam</li>
								<li>Ut ancillae facilisi definiebas has, duo dico in quidam semper</li>
								<li>Zril maiestatis at his, elitr noluisse saepe veniam hispa exun</li>
							</ul>
							<ul class="list-arrow3 one-half last">
								<li>Ut mediocrem dissentiunt est, aliquid appel te meis part coti</li>
								<li>Sed dolor ornatus reprimique, sea ferri etudoct tamquam suse</li>
								<li>Causae singulis iracundia nam nemea legere hinc dolor ridens</li>
								<li>Purto mundi sea at, quod inani quidam vim in oluptua insolens</li>
								<li>Congue dolores ea quo, nam epicuri efficia eos stet atomoru</li>
							</ul>
							<p>Eum ex putent suavitate, sea ne commodo appareat efficiantur. Fuisset scribentur vim an, eu est indocum patrioque. Eum ex veritus placerat, at nam vide assum diceret. Hinc disputationi enam, mei etudoct tamquam suscipit mediocritatem velem eine.</p>
						</div>
					</li>
					<li>
						<div class="tab-title"><a href="#">Four</a></div>
						<div class="tab-content">
							<h4>At menandri quaestio has</h4>
							<p>Nobis viderer philosophia ea qui, oblique vulputate efficiantur tem vix. Vero facer vis cu, ut tation um van omittam eam. Ex sint laoreet vulpte cum, cumi dolores maluiss ein eam. Alii debet nostrum cum ea. Mutat iuvaret elaboraret sed mel iriure perpetua ad. An mel tollit singulis pertin, reque error ad cum, mea docendi appetere ut. Mei tantas docendi quaestio ex.</p>
						</div>
					</li>
				</ul>
				<div class="nspace-20"></div>
				<!-- /tab -->	            
			</div>
		</div>
		<!-- /#main -->
	
		<!-- #top-footer -->
		<div id="top-footer" class="wrapper">
			<div class="container">
				<div class="top-footer-list-wrapper"> <span class="ticker-footer-icon"></span>
					<div class="ticker top-footer-list">
						<ul class="ticker-list">
							<li>If you caught Apple’s iOS 7 presentation on Monday or have followed any of the numerous bits of coverage, then you know that the home screen icons have quickly become a point of contention. </li>
							<li>What information do you include on your business card?</li>
							<li>Ask DN: Visual designers looking for full time. <a href="#">Apply here.</a></li>	
							<li>Anyone knew, that Ubuntu 10.10 was also named Maverick?.</li>														
						</ul>
					</div>
					<ul class="ticker-controls top-footer-list-controls">
						<li><a href="#" class="follow">Sign-up to Newsletter</a></li>
						<li><a href="#" class="prev arrow"></a></li>
						<li><a href="#" class="next arrow"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /#top-footer --> 
		
		<!-- #footer -->
		<div id="footer" class="wrapper">
			<div class="container">
				<div class="row">
					<div class="span4"> 

						<!-- footer wiget area 1 -->
						<div class="widget">
							<h4>
								<span class="circle">
									<span class="circle-border"></span>
									<span class="circle-inner"><span class="circle-icon-posts"></span></span>
								</span>
								Recent Posts</h4>
							<ul>
								<li><a href="#">Ad mea veniam sanctus </a></li>
								<li><a href="#">Ea viris nostro phaedrum </a></li>
								<li><a href="#">Et lucilius eleifend constuer</a></li>
								<li><a href="#">Ad mea veniam sanctus</a></li>
							</ul>
						</div>
						<!-- /footer wiget area 1 --> 
						
					</div>
					<div class="span4">
					
						<!-- footer wiget area 2 -->
						<div class="widget">
							<h4>
								<span class="circle">
									<span class="circle-border"></span>
									<span class="circle-inner"><span class="circle-icon-about"></span></span>
								</span>
								A Little About Me</h4>
							<p>Sumo ludus at eos, veri assum efficiant indee nec. No quo labores elaboraret disputando. Eam quas tritani his.</p>
							<form class="searchform" action="#" method="get">
								<p class="input-button-inside">
									<input name="s" type="text" placeholder="Search">
									<button type="submit" class="input-button-search"></button>
								</p>
							</form>
						</div>
						<!-- /footer wiget area 2 -->
						
					</div>
					<div class="span4">

						<!-- footer wiget area 3 -->
						<div class="widget">
							<h4>
								<span class="circle">
									<span class="circle-border"></span>
									<span class="circle-inner"><span class="circle-icon-mail"></span></span>
								</span>
								Get In Touch</h4>
							<p>1419 Westwood Blvd, Los Angeles<br>
								CA 90024</p>
							<p>E-mail: <a href="#" class="link-style2">office@imbus.com</a><br>
								Tel: (811) 108-4000</p>
						</div>
						<!-- /footer wiget area 3 -->
						
					</div>
				</div>
			</div>
		</div>
		<!-- /#footer --> 
		
		<!-- #bottom -->
		<div id="bottom" class="wrapper">
			<div class="container">
				<div class="social-icons">
					<div class="social-icon-twitter"><a href="#"><img src="assets/images/social_icons/social_twitter.png" alt="twitter"></a></div>
					<div class="social-icon-facebook"><a href="#"><img src="assets/images/social_icons/social_facebook.png" alt="facebook"></a></div>
					<div class="social-icon-pinterest"><a href="#"><img src="assets/images/social_icons/social_pinterest.png" alt="pinterest"></a></div>
					<div class="social-icon-youtube"><a href="#"><img src="assets/images/social_icons/social_youtube.png" alt="youtube"></a></div>
					<div class="social-icon-vimeo"><a href="#"><img src="assets/images/social_icons/social_vimeo.png" alt="vimeo"></a></div>
					<div class="social-icon-flickr"><a href="#"><img src="assets/images/social_icons/social_flickr.png" alt="flickr"></a></div>
					<div class="social-icon-linkedin"><a href="#"><img src="assets/images/social_icons/social_linkedin.png" alt="linkedin"></a></div>
					<div class="social-icon-rss"><a href="#"><img src="assets/images/social_icons/social_rss.png" alt="rss"></a></div>
				</div>
				<div class="clearfix"></div>
				<p class="copyright">Copyright 2013 | imbus by <a href="#" class="link-style2">Granthweb</a></p>
			</div>
		</div>
		<!-- /#bottom -->
		
		<div id="scroll-top"><a href="#top"></a></div>
	</div>
	<!-- /#wrapper -->

	<!-- js body -->
	<script type="text/javascript" src="assets/plugins/jquery.inview.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery.carouFredSel-6.2.1-packed.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery.lavalamp-1.3.5.min.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

</body>
<!-- /body -->

</html>