<!DOCTYPE html>
<!-- imbus - Simple HTML Template v1.0 -->

<!--[if lt IE 7]>	<html dir="ltr" lang="en-US" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>		<html dir="ltr" lang="en-US" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>		<html dir="ltr" lang="en-US" class="lt-ie9"><![endif]-->
<!--[if IE 9]>		<html dir="ltr" lang="en-US"  class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]>	<!--><html dir="ltr" lang="en-US" class="gt-ie9 non-ie"> <!--<![endif]-->
<head>

<!-- meta tags -->
<meta charset="UTF-8">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<meta name="author" content="Granthweb">
<meta name="description" content="imbus - Simple HTML Template">
<meta name="keywords" content="">
<meta name="robots" content="index, follow">

<!-- mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- favicon -->
<link rel="icon" href="assets_bym/images/icons/favicon.ico" type="image/png">

<!-- page title -->
<title>Shortcodes | imbus - Simple HTML Template</title>

<!-- css stylesheets -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" rel="stylesheet" type="text/css">
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="assets/css/style.css" rel="stylesheet" type="text/css">
<link href="assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

<!-- js head -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/plugins/jquery-1.8.1.min.js"><\/script>')</script>
<script type="text/javascript" src="assets/js/scripts.js"></script>
</head>

<!-- body -->
<body id="top" class="stickymenu stickyfooter">

	<!-- #wrapper -->
	<div id="wrapper"> 
		
		<!-- #header-info -->
		<div id="header-info" class="wrapper">
			<div class="container fullwidth">
				<ul>
					<li><span class="header-icon-pin"></span>1419 Westwood Blvd, Los Angeles</li>
					<li><span class="header-icon-mail"></span><a href="#" class="link-style2">office@imbus.com</a></li>
					<li><span class="header-icon-phone"></span>(811) 108-4000</li>
				</ul>
			</div>
		</div>
		<!-- /#header-info --> 
		
		<!-- #header -->
		<div id="header" class="wrapper"> 
			
			<!-- #logo -->
			<div id="logo" class="container fullwidth"><a href="http://templates.granthweb.com/imbus"><img src="assets/images/logo_anim_1.gif" alt="imbus"></a></div>
			<!-- /#logo --> 
			
			<!-- #primary-navigation -->
			<div id="primary-navigation" class="container fullwidth"> 
				
				<!-- .menu-responsive --> 
				<a class="menu-responsive"><span class="menu-icon-nav"></span><span class="menu-title">Navigation</span></a> 
				<!-- /.menu-responsive --> 
				
				<!-- .menu -->
				<ul class="menu clearfix">
					<li><a href="#"><span class="menu-icon-home"></span>Home</a>
						<ul>
							<li><a href="home.html">Home - Original</a></li>
							<li><a href="home_no_slider.html">Home - No Slider</a></li>
							<li><a href="#">Home - More Colors</a>
								<ul>
									<li><a href="home_red.html">Red Style</a></li>
									<li><a href="home_green.html">Green Style</a></li>
									<li><a href="home_orange.html">Orange Style</a></li>
									<li><a href="home_blue.html">Blue Style</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#"><span class="menu-icon-about"></span>About</a>
						<ul>
							<li><a href="about.html">About Team</a></li>
							<li><a href="about_personal.html">About Personal</a></li>
						</ul>
					</li>
					<li class="current"><a href="#"><span class="menu-icon-features"></span>Features</a>
						<ul>
							<li><a href="typography.html">Typography</a></li>
							<li class="current"><a href="shortcodes.html">Shortcodes</a></li>
							<li><a href="#">Pricing Tables</a>
								<ul>
									<li><a href="pricing_1.html">Style 1</a></li>
									<li><a href="pricing_2.html">Style 2</a></li>
								</ul>
							</li>
							<li><a href="404.html">404 page</a></li>
						</ul>
					</li>
					<li><a href="#"><span class="menu-icon-portfolio"></span>Portfolio</a>
						<ul>
							<li><a href="portfolio-2cols.html">Portfolio 2 Columns</a></li>
							<li><a href="portfolio-3cols.html">Portfolio 3 Columns</a></li>
							<li><a href="portfolio-4cols.html">Portfolio 4 Columns</a></li>
							<li><a href="portfolio-single-half.html">Portfolio single half</a></li>
							<li><a href="portfolio-single-wide.html">Portfolio single wide</a></li>
						</ul>
					</li>
					<li><a href="#"><span class="menu-icon-blog"></span>Blog</a>
						<ul>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="blog-single.html">Blog single</a></li>
						</ul>
					</li>
					<li><a href="contact.html"><span class="menu-icon-contact"></span>Contact</a></li>
				</ul>
				<!-- /.menu --> 
				
			</div>
			<!-- /#primary-navigation --> 
			
		</div>
		<!-- #/header --> 
		
		<!-- #header panel -->
		<div id="header-panel" class="wrapper header-parallax">
			<div class="header-image header-image-shortcodes container"></div>
			<div class="page-title">
				<h1>Shortcodes</h1>
			</div>
		</div>
		<!-- /#header panel --> 
		
		<!-- #main -->
		<div id="main" class="wrapper">
			<div class="main-content container">
				<h2 class="main-title">Alerts &amp; Buttons</h2>
				<p class="sub-title">Nam populo scaevola legendos ea, an nec magna mollis. Volumus temporibus at ius, zril vitae intellie vel id. Harum iriure efficiendi ne quo, et vel reprimique. Id melius labores utroque has, sea.</p>
				<div class="row">
					<div class="span6">
						<div class="alert alert-info1">This is a sample of the <strong>info</strong> style message box.
							<button type="button" class="close"><span class="alert-icon-close"></span></button>
						</div>
						<div class="alert alert-info2">This is a sample of the <strong>info</strong> style message box.
							<button type="button" class="close"><span class="alert-icon-close"></span></button>
						</div>
						<div class="alert alert-error">This is a sample of the <strong>error</strong> style message box.
							<button type="button" class="close"><span class="alert-icon-close"></span></button>
						</div>
						<div class="alert alert-success1">This is a sample of the <strong>succes</strong> style message box.
							<button type="button" class="close"><span class="alert-icon-close"></span></button>
						</div>
						<div class="alert alert-success2">This is a sample of the <strong>succes</strong> style message box.
							<button type="button" class="close"><span class="alert-icon-close"></span></button>
						</div>
					</div>
					<div class="span6">
						<p class="pull-left">
							<button type="button" class="btn-large btn-style1">Submit</button>
						</p>
						<p class="pull-left">
							<button type="button" class="btn-large btn-style1">Submit</button>
						</p>
						<p class="pull-left">
							<button type="button" class="btn-large btn-style1">Submit</button>
						</p>
						<div class="clearfix"></div>
						<p class="pull-left">
							<button type="button" class="btn-large btn-style2">Submit</button>
						</p>
						<p class="pull-left">
							<button type="button" class="btn-large btn-style2">Submit</button>
						</p>
						<p class="pull-left">
							<button type="button" class="btn-large btn-style2">Submit</button>
						</p>
						<div class="clearfix"></div>
						<p class="pull-left">
							<button type="button" class="btn btn-style1">Submit</button>
						</p>
						<p class="pull-left">
							<button type="button" class="btn btn-style1">Submit</button>
						</p>
						<p class="pull-left">
							<button type="button" class="btn btn-style1">Submit</button>
						</p>
						<div class="clearfix"></div>
						<p class="pull-left">
							<button type="button" class="btn btn-style2">Submit</button>
						</p>
						<p class="pull-left">
							<button type="button" class="btn btn-style2">Submit</button>
						</p>
						<p class="pull-left">
							<button type="button" class="btn btn-style2">Submit</button>
						</p>
					</div>
				</div>
				<h2 class="main-title">Pricing tables</h2>
				<p class="sub-title">Hinc disputationi ei nam, mei doctus tamquam suscipit te. Enim mediocritatem vel etun, inqui falli minimum. Tale sanctus assentior sed ex. Gubergren euripidis vis, usu noluisse, dicta intellegam eu per.</p>
				<!-- pricing table style1 -->
				<div class="gw-go gw-go-clearfix gw-go-enlarge-current gw-go-3cols">
					<div class="gw-go-col-wrap">
						<div class="gw-go-col gw-go-style1">
							<div class="gw-go-header">
								<div class="gw-go-header-top">
									<h3>Column 1</h3>
									<div class="gw-go-coin-wrap">
										<div class="gw-go-coinf">
											<div>$9<small>1 month</small></div>
										</div>
										<div class="gw-go-coinb">
											<div>$9<small>1 month</small></div>
										</div>
									</div>
								</div>
								<div class="gw-go-header-bottom"></div>
							</div>
							<ul class="gw-go-body">
								<li>20 Splendide philosophia et</li>
								<li class="gw-go-even">Cum at probo / minimum</li>
								<li>Falli libris has id facer</li>
								<li class="gw-go-even">Pertinax vel eum ne molestie</li>
								<li class="gw-go-has-tooltip">Taleni noluisse signiferum<span class="gw-go-tooltip">Lorem ipsum dolor si amet, at ferri regione quo, quis lucilius elei vim te. Et eum omitt an menandri, hastoi mucius graeco liortis cu, inani et vis.</span></li>
							</ul>
							<div class="gw-go-footer"><a href="#" class="gw-go-btn gw-go-btn-medium" target="_blank">Order Now</a></div>
						</div>
					</div>
					<div class="gw-go-col-wrap gw-go-current">
						<div class="gw-go-col gw-go-style1">
							<div class="gw-go-header">
								<div class="gw-go-header-top">
									<h3>Column 2</h3>
									<div class="gw-go-coin-wrap">
										<div class="gw-go-coinf">
											<div>$13<small>2 months</small></div>
										</div>
										<div class="gw-go-coinb">
											<div>$13<small>2 months</small></div>
										</div>
									</div>
								</div>
								<div class="gw-go-header-bottom"></div>
							</div>
							<ul class="gw-go-body">
								<li>30 Splendide philosophia et</li>
								<li class="gw-go-even">Cum at probo / minimum</li>
								<li>Falli libris has id facer</li>
								<li class="gw-go-even">Pertinax vel eum ne molestie</li>
								<li class="gw-go-has-tooltip">Taleni noluisse signiferum<span class="gw-go-tooltip">Lorem ipsum dolor si amet, at ferri regione quo, quis lucilius elei vim te. Et eum omitt an menandri, hastoi mucius graeco liortis cu, inani et vis.</span></li>
							</ul>
							<div class="gw-go-footer"><a href="#" class="gw-go-btn gw-go-btn-large" target="_blank">Purchase</a></div>
						</div>
					</div>
					<div class="gw-go-col-wrap">
						<div class="gw-go-col gw-go-style1">
							<div class="gw-go-header">
								<div class="gw-go-header-top">
									<h3>Column 3</h3>
									<div class="gw-go-coin-wrap">
										<div class="gw-go-coinf">
											<div>$26<small>3 months</small></div>
										</div>
										<div class="gw-go-coinb">
											<div>$26<small>3 months</small></div>
										</div>
									</div>
								</div>
								<div class="gw-go-header-bottom"></div>
							</div>
							<ul class="gw-go-body">
								<li>40 Splendide philosophia et</li>
								<li class="gw-go-even">Cum at probo / minimum</li>
								<li>Falli libris has id facer</li>
								<li class="gw-go-even">Pertinax vel eum ne molestie</li>
								<li class="gw-go-has-tooltip">Taleni noluisse signiferum<span class="gw-go-tooltip">Lorem ipsum dolor si amet, at ferri regione quo, quis lucilius elei vim te. Et eum omitt an menandri, hastoi mucius graeco liortis cu, inani et vis.</span></li>
							</ul>
							<div class="gw-go-footer"><a href="#" class="gw-go-btn gw-go-btn-medium" target="_blank">Order Now</a></div>
						</div>
					</div>
				</div>
				
				<!-- /pricing table style1 -->
				<div class="space-30"></div>
				
				<!-- pricing table style2 -->
				<div class="gw-go gw-go-clearfix gw-go-4cols">
					<div class="gw-go-col-wrap">
						<div class="gw-go-col gw-go-style2">
							<div class="gw-go-header">
								<div class="gw-go-header-top">
									<h3>Column 1</h3>
									<div class="gw-go-coin-wrap">
										<div class="gw-go-coinf">
											<div>$9<small>1 month</small></div>
										</div>
										<div class="gw-go-coinb">
											<div>$9<small>1 month</small></div>
										</div>
									</div>
								</div>
								<div class="gw-go-header-bottom"></div>
							</div>
							<ul class="gw-go-body">
								<li>20 Splendide philosophia et</li>
								<li class="gw-go-even">Cum at probo / minimum</li>
								<li class="gw-go-has-tooltip">Falli libris has id facer<span class="gw-go-tooltip">Ute sit dolor lobortis.</span></li>
								<li class="gw-go-even">Pertinax vel eum ne molestie</li>
								<li>Taleni noluisse signiferum</li>
							</ul>
							<div class="gw-go-footer"><a href="#" class="gw-go-btn gw-go-btn-medium" target="_blank">Order Now</a></div>
						</div>
					</div>
					<div class="gw-go-col-wrap gw-go-current">
						<div class="gw-go-col gw-go-style2">
							<div class="gw-go-ribbon-left gw-go-ribbon-left-yellow-50percent"></div>
							<div class="gw-go-header">
								<div class="gw-go-header-top">
									<h3>Column 2</h3>
									<div class="gw-go-coin-wrap">
										<div class="gw-go-coinf">
											<div>$13<small>2 months</small></div>
										</div>
										<div class="gw-go-coinb">
											<div>$13<small>2 months</small></div>
										</div>
									</div>
								</div>
								<div class="gw-go-header-bottom"></div>
							</div>
							<ul class="gw-go-body">
								<li>30 Splendide philosophia et</li>
								<li class="gw-go-even">Cum at probo / minimum</li>
								<li class="gw-go-has-tooltip">Falli libris has id facer<span class="gw-go-tooltip">Mod et verteren usu.</span></li>
								<li class="gw-go-even">Pertinax vel eum ne molestie</li>
								<li>Taleni noluisse signiferum</li>
							</ul>
							<div class="gw-go-footer"><a href="#" class="gw-go-btn gw-go-btn-medium" target="_blank">Order Now</a></div>
						</div>
					</div>
					<div class="gw-go-col-wrap">
						<div class="gw-go-col gw-go-style2">
							<div class="gw-go-header">
								<div class="gw-go-header-top">
									<h3>Column 3</h3>
									<div class="gw-go-coin-wrap">
										<div class="gw-go-coinf">
											<div>$26<small>3 months</small></div>
										</div>
										<div class="gw-go-coinb">
											<div>$26<small>3 months</small></div>
										</div>
									</div>
								</div>
								<div class="gw-go-header-bottom"></div>
							</div>
							<ul class="gw-go-body">
								<li>40 Splendide philosophia et</li>
								<li class="gw-go-even">Cum at probo / minimum</li>
								<li class="gw-go-has-tooltip">Falli libris has id facer<span class="gw-go-tooltip">Ute sit dolor lobortis.</span></li>
								<li class="gw-go-even">Pertinax vel eum ne molestie</li>
								<li>Taleni noluisse signiferum</li>
							</ul>
							<div class="gw-go-footer"><a href="#" class="gw-go-btn gw-go-btn-medium" target="_blank">Order Now</a></div>
						</div>
					</div>
					<div class="gw-go-col-wrap">
						<div class="gw-go-col gw-go-style2">
							<div class="gw-go-header">
								<div class="gw-go-header-top">
									<h3>Column 4</h3>
									<div class="gw-go-coin-wrap">
										<div class="gw-go-coinf">
											<div>$44<small>4 monts</small></div>
										</div>
										<div class="gw-go-coinb">
											<div>$44<small>4 monts</small></div>
										</div>
									</div>
								</div>
								<div class="gw-go-header-bottom"></div>
							</div>
							<ul class="gw-go-body">
								<li>50 Splendide philosophia et</li>
								<li class="gw-go-even">Cum at probo / minimum</li>
								<li class="gw-go-has-tooltip">Falli libris has id facer<span class="gw-go-tooltip">Mod et verteren usu.</span></li>
								<li class="gw-go-even">Pertinax vel eum ne molestie</li>
								<li>Taleni noluisse signiferum</li>
							</ul>
							<div class="gw-go-footer"><a href="#" class="gw-go-btn gw-go-btn-medium" target="_blank">Order Now</a></div>
						</div>
					</div>
				</div>
				<!-- /pricing table style2 -->
				
				<h2 class="main-title">Tabs &amp; Toggles</h2>
				<p class="sub-title">Nam populo scaevola legendos ea, an nec magna mollis. Volumus temporibus at ius, zril vitae intellie vel id. Harum iriure efficiendi ne quo, et vel reprimique. Id melius labores utroque has, sea.</p>
				<div class="row">
					<div class="span6"> 
						
						<!-- tab -->
						<div class="tabs-wrapper clearfix">
							<ul class="tabs">
								<li class="current"><a href="#">One</a></li>
								<li><a href="#">Two</a></li>
								<li><a href="#">Three</a></li>
								<li><a href="#">Four</a></li>
							</ul>
						</div>
						<ul class="tabs-content">
							<li class="current">
								<div class="tab-title"><a href="#">One</a></div>
								<div class="tab-content">
									<h4>At menandri quaestio has</h4>
									<p>Huo te eligendi fabellas, exerci noluis reprimique eamex. Mel singnat tere consetetur no. Perun ideal mollis vidisse, oratio libris per in, etu prin ponderum pri. Sed te meis partem cotidieq, exumet fuisset repr ehenuit per, sit cu sapientem ullamcorper.</p>
									<p>Eum ex putent suavitate, sea commodo appareat efficiantur. Fuisset scribentur vim an, eu est indocum patrioque. Eum ex veritus placerat, at nam vide assum diceret. Hinc disputationi enam, mei etudo tamqu am suscipit mediocritatem velem eine.</p>
								</div>
							</li>
							<li>
								<div class="tab-title"><a href="#">Two</a></div>
								<div class="tab-content">
									<h4>Tale sanctus assentior sed ex</h4>
									<ul class="list-plus">
										<li>Lorem ipsum dolor sit amet, ut duo lorem cumi lesbe</li>
										<li>Justo aeterno scripserit eos ut, latine veris egbu</li>
										<li>Prodesset ei has audiam et eam, ei vis damug nicen</li>
									</ul>
									<p>Eum ex putent suavitate, sea ne commodo appareat effician turemi. Fuisset scribentur vim an, eu est indocum patrioque. Eum ex veritus placerat, at nam vide assum diceret. Hinc disputationi enam, meive etudoct tamquam suscipit mediocritatem velem eine.</p>
								</div>
							</li>
							<li>
								<div class="tab-title"><a href="#">Three</a></div>
								<div class="tab-content">
									<h4>Tale sanctus assentior sed ex</h4>
									<ul class="list-arrow3">
										<li>Lorem ipsum dolor sit amet, ut duo lorem cus cribentur vim an</li>
										<li>Justo aeterno scripserit eos ut, latine veri indocum patrioque</li>
										<li>Prodesset ei has audiam et eam, ei vis damex veritus placerat</li>
									</ul>
								</div>
							</li>
							<li>
								<div class="tab-title"><a href="#">Four</a></div>
								<div class="tab-content">
									<h4>At menandri quaestio has</h4>
									<p>Nobis viderer philosophia ea qui, oblique vulputate efficiantur tem vix. Vero facer vis cu, ut tation um van omittam eam. Ex sint laoreet vulpte cum, cumi dolores maluiss. Viderer disputando ein eam. Alii debetun nostrum cumes ea. Mutat iuvaret elaboraret.</p>
								</div>
							</li>
						</ul>
						<!-- /tab --> 
						
					</div>
					<div class="span6"> 
						
						<!-- toggle -->
						<ul class="toggles">
							<li class="current">
								<div class="toggle-title"><a href="#"><span></span>Cum ea albucius insolens definitionem</a></div>
								<div class="toggle-content">
									<p>Ad semper eligendi persecuti vix, te stetu aperiam cotiden eieque mel. Ius at augue postea volumus, omnis sapiente ideni eam, cu quo ullum, mei errem.</p>
									<ul class="list-ok">
										<li>Lorem ipsum dolor sit amet, ut duo lorem cumiv</li>
										<li>Justo aeterno scripserit eos ut, latine veri reten</li>
										<li>Prodesset ei has audiam etun eam, eivis facalatt</li>
									</ul>
								</div>
							</li>
							<li>
								<div class="toggle-title"><a href="#"><span></span>Mucius aeterno utroque pro ne</a></div>
								<div class="toggle-content">
									<p>Ad semper eligendi persecuti vix, te stetu aperiam cotiden eieque mel. Ius at augue postea volumus, omnis sapiente ideni eam, cu quo ullum, mei errem.</p>
									<ul class="list-ok">
										<li>Lorem ipsum dolor sit amet, ut duo lorem cumiv</li>
										<li>Justo aeterno scripserit eos ut, latine veri reten</li>
										<li>Prodesset ei has audiam etun eam, eivis facalatt</li>
									</ul>
								</div>
							</li>
							<li>
								<div class="toggle-title"><a href="#"><span></span>Fugit adversarium pri ea, ut sit nisl</a></div>
								<div class="toggle-content">
									<p>Ad semper eligendi persecuti vix, te stetu aperiam cotiden eieque mel. Ius at augue postea volumus, omnis sapiente ideni eam, cu quo ullum, mei errem.</p>
									<ul class="list-ok">
										<li>Lorem ipsum dolor sit amet, ut duo lorem cumiv</li>
										<li>Justo aeterno scripserit eos ut, latine veri reten</li>
										<li>Prodesset ei has audiam etun eam, eivis facalatt</li>
									</ul>
								</div>
							</li>
						</ul>
						<!-- /toggle --> 
						
					</div>
				</div>
				<h2 class="main-title">Skills &amp; List Marked</h2>
				<div class="row">
					<div class="span6"> 
						
						<!-- progress bar -->
						<ul class="progress-bars">
							<li>
								<div class="progress-label">Tractatos<span>66%</span></div>
								<div class="progress progress-style1">
									<div class="bar" style="width:66%" data-width="66%"></div>
								</div>
							</li>
							<li>
								<div class="progress-label">Verear<span>39%</span></div>
								<div class="progress progress-style1">
									<div class="bar" style="width:39%" data-width="39%"></div>
								</div>
							</li>
							<li>
								<div class="progress-label">Petentium<span>80%</span></div>
								<div class="progress progress-style1">
									<div class="bar" style="width:80%" data-width="80%"></div>
								</div>
							</li>
							<li>
								<div class="progress-label">Noluisse<span>72%</span></div>
								<div class="progress progress-style1">
									<div class="bar" style="width:72%" data-width="72%"></div>
								</div>
							</li>
						</ul>
						<!-- /progress bar -->
						
						<p class="text-small">Pro probo habeo debitis ei, ei dicit ponderum eos, ei<br>
							forensibus nemore mel te.</p>
					</div>
					<div class="span3"> 
						
						<!-- lists -->
						<ul class="list-dot no-space">
							<li>Lorem ipsum et, duo lorem</li>
						</ul>
						<ul class="list-cross no-space">
							<li>Justo aeter eos utreh, latine</li>
						</ul>
						<ul class="list-ok no-space">
							<li>Prodesset ein audiam et eam</li>
						</ul>
						<ul class="list-plus no-space">
							<li>Nominavi intellege ut prios
								<ul class="list-minus no-space">
									<li>Decore iuvaret ut proper</li>
								</ul>
								<ul class="list-arrow2 no-space">
									<li>At cum dicat saperet etu</li>
								</ul>
							</li>
						</ul>
						<ul class="list-star no-space">
							<li>Sea prima abhorreant tibique</li>
						</ul>
						<ul class="list-arrow3 no-space">
							<li>Ea mei nisl scaevola treun</li>
						</ul>
						<ul class="list-arrow5 no-space">
							<li>Aliqui aliquid eos eume cut</li>
						</ul>
						<ul class="list-heart">
							<li>Nisl accusam euripidis ean</li>
						</ul>
					</div>
					<div class="span3">
						<ul class="list-dot-dark no-space">
							<li>Lorem ipsum et, duo lorem</li>
						</ul>
						<ul class="list-cross-dark no-space">
							<li>Justo aeter eos utreh, latine</li>
						</ul>
						<ul class="list-ok-dark no-space">
							<li>Prodesset ein audiam et eam</li>
						</ul>
						<ul class="list-plus-dark no-space">
							<li>Nominavi intellege ut prios
								<ul class="list-minus-dark no-space">
									<li>Decore iuvaret ut proper</li>
								</ul>
								<ul class="list-arrow2-dark no-space">
									<li>At cum dicat saperet etu</li>
								</ul>
							</li>
						</ul>
						<ul class="list-star-dark no-space">
							<li>Sea prima abhorreant tibique</li>
						</ul>
						<ul class="list-arrow3-dark no-space">
							<li>Ea mei nisl scaevola treun</li>
						</ul>
						<ul class="list-arrow5-dark no-space">
							<li>Aliqui aliquid eos eume cut</li>
						</ul>
						<ul class="list-heart-dark">
							<li>Nisl accusam euripidis ean</li>
						</ul>
						<!-- /lists --> 
						
					</div>
				</div>
			</div>
		</div>
		<!-- /#main --> 
		
		<!-- #top-footer -->
		<div id="top-footer" class="wrapper">
			<div class="container">
				<div class="top-footer-list-wrapper"> <span class="ticker-footer-icon"></span>
					<div class="ticker top-footer-list">
						<ul class="ticker-list">
							<li>If you caught Apple’s iOS 7 presentation on Monday or have followed any of the numerous bits of coverage, then you know that the home screen icons have quickly become a point of contention. </li>
							<li>What information do you include on your business card?</li>
							<li>Ask DN: Visual designers looking for full time. <a href="#">Apply here.</a></li>	
							<li>Anyone knew, that Ubuntu 10.10 was also named Maverick?.</li>														
						</ul>
					</div>
					<ul class="ticker-controls top-footer-list-controls">
						<li><a href="#" class="follow">Sign-up to Newsletter</a></li>
						<li><a href="#" class="prev arrow"></a></li>
						<li><a href="#" class="next arrow"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /#top-footer --> 
		
		<!-- #footer -->
		<div id="footer" class="wrapper">
			<div class="container">
				<div class="row">
					<div class="span4"> 

						<!-- footer wiget area 1 -->
						<div class="widget">
							<h4>
								<span class="circle">
									<span class="circle-border"></span>
									<span class="circle-inner"><span class="circle-icon-posts"></span></span>
								</span>
								Recent Posts</h4>
							<ul>
								<li><a href="#">Ad mea veniam sanctus </a></li>
								<li><a href="#">Ea viris nostro phaedrum </a></li>
								<li><a href="#">Et lucilius eleifend constuer</a></li>
								<li><a href="#">Ad mea veniam sanctus</a></li>
							</ul>
						</div>
						<!-- /footer wiget area 1 --> 
						
					</div>
					<div class="span4">
					
						<!-- footer wiget area 2 -->
						<div class="widget">
							<h4>
								<span class="circle">
									<span class="circle-border"></span>
									<span class="circle-inner"><span class="circle-icon-about"></span></span>
								</span>
								A Little About Me</h4>
							<p>Sumo ludus at eos, veri assum efficiant indee nec. No quo labores elaboraret disputando. Eam quas tritani his.</p>
							<form class="searchform" action="#" method="get">
								<p class="input-button-inside">
									<input name="s" type="text" placeholder="Search">
									<button type="submit" class="input-button-search"></button>
								</p>
							</form>
						</div>
						<!-- /footer wiget area 2 -->
						
					</div>
					<div class="span4">

						<!-- footer wiget area 3 -->
						<div class="widget">
							<h4>
								<span class="circle">
									<span class="circle-border"></span>
									<span class="circle-inner"><span class="circle-icon-mail"></span></span>
								</span>
								Get In Touch</h4>
							<p>1419 Westwood Blvd, Los Angeles<br>
								CA 90024</p>
							<p>E-mail: <a href="#" class="link-style2">office@imbus.com</a><br>
								Tel: (811) 108-4000</p>
						</div>
						<!-- /footer wiget area 3 -->
						
					</div>
				</div>
			</div>
		</div>
		<!-- /#footer -->   
		
		<!-- #bottom -->
		<div id="bottom" class="wrapper">
			<div class="container">
				<div class="social-icons">
					<div class="social-icon-twitter"><a href="#"><img src="assets/images/social_icons/social_twitter.png" alt="twitter"></a></div>
					<div class="social-icon-facebook"><a href="#"><img src="assets/images/social_icons/social_facebook.png" alt="facebook"></a></div>
					<div class="social-icon-pinterest"><a href="#"><img src="assets/images/social_icons/social_pinterest.png" alt="pinterest"></a></div>
					<div class="social-icon-youtube"><a href="#"><img src="assets/images/social_icons/social_youtube.png" alt="youtube"></a></div>
					<div class="social-icon-vimeo"><a href="#"><img src="assets/images/social_icons/social_vimeo.png" alt="vimeo"></a></div>
					<div class="social-icon-flickr"><a href="#"><img src="assets/images/social_icons/social_flickr.png" alt="flickr"></a></div>
					<div class="social-icon-linkedin"><a href="#"><img src="assets/images/social_icons/social_linkedin.png" alt="linkedin"></a></div>
					<div class="social-icon-rss"><a href="#"><img src="assets/images/social_icons/social_rss.png" alt="rss"></a></div>
				</div>
				<div class="clearfix"></div>
				<p class="copyright">Copyright 2013 | imbus by <a href="#" class="link-style2">Granthweb</a></p>
			</div>
		</div>
		<!-- /#bottom -->
		
		<div id="scroll-top"><a href="#top"></a></div>
	</div>
	<!-- /#wrapper -->

	<!-- js body -->
	<script type="text/javascript" src="assets/plugins/jquery.inview.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery.carouFredSel-6.2.1-packed.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery.lavalamp-1.3.5.min.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

</body>
<!-- /body -->

</html>
